.Statistics {
    height: 50px;
    display: flex;
    flex-direction: row;
}

.Statistics-item {
    flex:1;
    background-color: goldenrod;
    color: black;
    font-weight: bold;
    font-size: .7em;
    cursor: pointer;
    padding-top: 5px;
}

.Statistics-item-count {
    margin: 2px;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
}

.Statistics-item-content {
    border-right: 1px solid black;
}